.select {
  padding: 8px 12px;
  color: pink;
  background-color: green;
  border: solid 1px #ddd;
  cursor: pointer;
  border-radius: 5px;
  width: 250px;
  /* appearance: none; */
}
.react-select-container {
  width: 300px;
  background-color: pink;
}
